body {
  font-family: 'Raleway', sans-serif;
  background-color: whitesmoke;
}

h1, h2, h3, .card-body>.card-title {
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: white;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }


#carouselButton {
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 0; }

  .carousel-item > img { 
    width: 100%; 
  }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#919988, #97a8bb);
  padding: 20px 0;
}

.site-footer .list-unstyled a:link {
  color: white;
  background-color: transparent;
}

.site-footer .btn-link {
  color: white;
  background-color: transparent;
}

.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #919988, #97a8bb, white);
  color: white;
}

.jumbotron h1 h2 {
  color: white;
}

.navbar-dark {
  background-color: grey;
}

.buttons-container {
  display: flex;
  padding: 10px;
  justify-content: center;

}

.buttons-item {
  background: #222;
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

.buttons-item {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.buttons-item {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.buttons-item:hover {
  background: transparent;
}

.buttons-item:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}